[submodule "Firmware/Dependencies/oni-framework"]
	path = Firmware/Dependencies/oni-framework
	url = https://github.com/OpenOrbis/oni-framework
[submodule "Firmware/Dependencies/freebsd-headers"]
	path = Firmware/Dependencies/freebsd-headers
	url = https://github.com/OpenOrbis/freebsd-headers.git
